<!doctype html>
<html class="no-js" lang="">

    {% include head.html %}

    <body>

        <div class="outer-wrapper">

            <header>
                <h1>
                    <a href="/">Omit</a>
                </h1>
            </header>

            <div class="content">
                {{ content }}
            </div>

            <footer>
                <a href="http://twitter.com/frxnz">Derek Wheelden</a>
            </footer>

        </div>

        <script src="/js/vendor/prism.js"></script>
        
    </body>
</html>
