@import 'http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css';

/* Web Font Classes */
.tisa-regular {
    font-family: "ff-tisa-web-pro",serif;
    font-style: normal;
    font-weight: 400;
}

.tisa-italic {
    font-family: "ff-tisa-web-pro",serif;
    font-style: italic;
    font-weight: 400;
}

.tisa-bold {
    font-family: "ff-tisa-web-pro",serif;
    font-style: normal;
    font-weight: 700;
}

.tisa-bold-italic {
    font-family: "ff-tisa-web-pro",serif;
    font-style: italic;
    font-weight: 700;
}

.ratio-light {
    font-family: "ratio",sans-serif;
    font-style: normal;
    font-weight: 300;
}

.ratio-regular {
    font-family: "ratio",sans-serif;
    font-style: normal;
    font-weight: 400;
}

.ratio-bold {
    font-family: "ratio",sans-serif;
    font-style: normal;
    font-weight: 700;
}

.mono {
    font-family: consolas, monospace;
}