.post-list {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.2;

    a {
        @extend %titles;
        display: block;
        font-size: 3em;
        text-transform: uppercase;
    }

    time {
        @extend %headings;
        color: lighten($contrast, 50%);
    }
}
