h1 {
    @extend %titles;
    font-size: 3em;
    text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
    @extend %headings;
}

h2 {
    margin: 0.5em 0;
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    color: $highlight;
}

:not(pre) > code {
    @extend %monospace;
    background: $bg-shade;
    white-space: nowrap;
    font-size: 0.8em;
}
